{% extends "base.html" %}

{% block css %}
<script src="static/js/jquery.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href= "static/css/emojiBar.css">
<script src="static/js/jquery.js"></script>
<style>
    html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}

    .spac{
        height: 10px;

    }

    .alert {
      padding-top: 5px;
      padding-bottom: 5px;
      margin-bottom: 5px;
    }

</style>
<body class="w3-light-grey">
{% end %}


{% block header %}
<header class="intro-header" style="background-image: url('static/img/post-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h2>Admin Portal</h2>
                    <hr class="small">
                    <span id='description' class="subheading">Share Something with the Intern Community</span><br>
                </div>
            </div>
        </div>
    </div>
</header>
{% end %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <h3 style="text-align:center">Current Administrative Notifications</h3>

        <div id="success" class="alert alert-success" style="visibility: hidden">
            <strong>Congrats!<br></strong>Your post should appear shortly.
        </div>
        <p><strong>Create New Notification Post</strong></p>
        <div class="container-fluid">
            <div class="row">
                <div class="w3-container w3-card-2 w3-white w3-margin-bottom">

                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Title</label>
                            <input type='text' class="form-control" placeholder="Title your post" name="title" id="title">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Tell us a little more?</label>
                            <textarea rows="5" class="form-control" placeholder="Tell us a little more?" name="message" id="message"></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button type="button" id="submit" class="btn btn-block btn-default" onclick="submitAdmin();"><span class="glyphicon glyphicon-send"></span> Create</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div id="delete-message" class="alert alert-danger" style="visibility: hidden;">
          <h6>Error! Post not deleted.</h4>
        </div>
        <p><strong>Current Notifications</strong></p>
        <div id="results"></div>
    </div>
</div>

<script>
    function submitAdmin() {
        $.ajax({
            type:"POST",
            url:"add-admin",
            data: {
                "title":$("#title").val(),
                "content":$("#message").val()
            }
        }).complete(function(o) {
          $("#success").css('visibility','visible').hide().fadeTo(1000, 1, function() {
            $(this).delay(3000).fadeTo(1000, 0, function() {
              $(this).css('visibility', 'hidden');
            });
          });
        })
    }
</script>

<script>
      function areYouSure(post_id) {
        if ($("#" + post_id + ".option").css('opacity') == "0") {
            $("#" + post_id + ".option").fadeTo(1000, 1);
            $("#" + post_id + ".option").removeAttr("disabled");
        }
      }

      function continueDelete(post_id) {
        $.ajax({
          type: "POST",
          url: "/deletePost",
          data: {
            "post_id": post_id
          }
        }).complete(function(o) {
          j = o.responseText;
          obj = JSON.parse(j);
          if (obj.success == "true") { //Hide card from list
            $("#" + post_id + ".panel").animate({
              height: 0,
              border: 0,
              padding: 0
            }, function() {
                $("#" + post_id + ".panel").css("display", "none");
            });
          } else { //Show error message. Then fade out error message
            $("#delete-message").css('visibility','visible').hide().fadeTo(1000, 1, function() {
              $(this).delay(3000).fadeTo(1000, 0, function() {
                $(this).css('visibility', 'hidden')
              });
            });
          }
        });

      }

      function cancelDelete(post_id) {
        $("#" + post_id + ".option").fadeTo(500, 0);
        $("#" + post_id + ".option").attr('disabled','disabled');
      }

      $.ajax({
          type: "GET",
          url: "/admin-posts"
      }).complete(function(o) {
         j = o.responseText;
         console.log(j);
         obj = JSON.parse(j);
         for (var i = 0; i < obj.length; i++) {

             var panel = $("<div>", {
               "class": "panel w3-container w3-card-2 w3-white w3-margin-bottom",
               "id": obj[i].id
             });
             var w3_container = $("<div>", {'class':'w3-container'});
             var author = $("<h4>",{"text":obj[i].title + "\nPosted by " + obj[i].author, "class":"w3-text-grey w3-padding-16"});
             var body = $("<div>", {"class": "panel-body"}).text(obj[i].content)
             var like_button = $("<a>",{
                 "class":"btn btn-sm btn-primary",
                 "id":obj[i].id,
                 "href":"#",
                 "onclick": "submitVote(this.id)",
                 "text":"Likes: " + obj[i].likes + " ",
                 "style":"margin-bottom:2%; margin-left:2%"
             });
             var thumbs_up = $("<span>",{"class":"glyphicon glyphicon-thumbs-up"});
             var delete_span = $("<span>", {
               "class": "delete_buttons",
               "id": obj[i].id,
               "style": "float: right;"
             });
             var yes = $("<button>", {
               "class": "glyphicon glyphicon-ok option",
               "id": obj[i].id,
               "onclick": "continueDelete(" + obj[i].id + ")",
               "style": "color: green; opacity: 0;",
               "disabled": "disabled"
             });
             var no = $("<button>", {
               "class": "glyphicon glyphicon-remove option",
               "id": obj[i].id,
               "onclick": "cancelDelete(" + obj[i].id + ")",
               "style": "color: red; opacity: 0;",
               "disabled": "disabled"
             });
             var delete_button = $("<button>", {
               "class": "glyphicon glyphicon-trash",
               "onclick": "areYouSure(" + obj[i].id + ")",
               "style": "padding-top: 4px; padding-bottom: 2px;"
             });
             delete_span.append(yes, delete_button, no);
             var div_row = $("<div>", {"class": "row"});
             panel.append(
               w3_container.append(author)
            ).append(body).append(like_button.append(thumbs_up), delete_span);

             $("#results").append(panel);
         }
         $("#results").html($("#results").html().replace(/\n/g,'<br/>'));
      });
</script>

{% end %}
