{% extends "base.html" %}

{% block css %}
<script src="static/js/jquery.js"></script>
<script src="static/js/Chart.bundle.min.js"></script>
<script src="static/js/moment.js"></script>
<script src="static/js/jquery-ui.min.js"></script>
<link href="static/css/jquery-ui.min.css" rel="stylesheet">
{% end %}

{% block header %}
<header class="intro-header" style="background-image: url('static/img/home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h2>Analytics</h2>
                    <hr class="small">
                    <span id='description' class="subheading">A little knowledge is a dangerous thing.</span><br>
                </div>
            </div>
        </div>
    </div>
</header>
{% end %}


<!-- Main Content -->
{% block content %}
<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <!-- Contact Form - Enter your email address on line 19 of the mail/contact_me.php file to make this form work. -->
        <!-- WARNING: Some web hosts do not allow emails to be sent through forms to common mail hosts like Gmail or Yahoo. It's recommended that you use a private domain email address! -->
        <!-- NOTE: To use the contact form, your site must be on a live web host with PHP! The form will not work locally! -->
        <form name="sentMessage" id="chartForm" novalidate>

            <div class="row">
              <label for="start-date">Start </label>
              <input id="start-date" class="datepicker" />
            </div>

            <div class="row">
              <label for="end-date">End </label>
              <input id="end-date" class="datepicker" />
            </div>

            <div class="row">
              <label for="department">Department </label>
              <input id="department" />
            </div>

            <div class="row">
              <label for="school">School </label>
              <input id="school" />
            </div>

            <br>
            <div class="row">
                <div class="form-group col-xs-12">
                    <button id="new-chart-button" type="button" class="btn btn-block btn-default">Send</button>
                </div>
            </div>
            <br>
        </form>
    </div>
</div>

<div class="row">
  <div id="chart" class="col-lg-8 col-lg-offset-2">
    <canvas id="feelings-chart" height="160"></canvas>
  </div>
</div>




<script>
//Maps feelings by date
//Key => date
//Value => array of feelings
class FeelingMap {
  constructor() {
    this.map = {};
  }

  //insert feeling based on date
  insert(date, feeling) {
    if (this.map[date] == undefined) { this.map[date] = [feeling]; }
    else { this.map[date].push(feeling); }
  }

  //print feeling map
  print() {
    console.log("Feeling map");
    for (var feelings in this.map) {
      console.log(feelings);
      console.log(this.map[feelings]);
    }
  }
}

//Stores all data for a Chart
class ChartData {
  constructor() {
    this.feelings = [];
    this.labels = [];
    this.bgColors = [];
    this.brdrColors = [];
  }

  reset() {
    this.feelings = [];
    this.labels = [];
    this.bgColors = [];
    this.brdrColors = [];
  }
}

  $(document).ready(function() {
    $(".datepicker").datepicker();
  });

    $("#new-chart-button").click(function() {
      var start_date = $("#start-date").val();
      var end_date = $("#end-date").val();
      var department = $("#department").val();
      var school = $("#school").val();
      var chart_data = new ChartData();

      if (!validFields(start_date, end_date, department, school)) { return; }

      $.ajax({
        type:"GET",
        url:"/newChart",
        data: {
          "start_date" : start_date,
          "end_date" : end_date,
          "department": department,
          "school": school
        }
      }).complete(function(o){
        j = o.responseText;
        console.log(j);
        obj = JSON.parse(j);
        var fmap = new FeelingMap();
        for (var i = 0; i < obj.length; i++) {
            fmap.insert(obj[i].time_posted, obj[i].feeling);
        }

        for (var i in fmap.map) {
          chart_data.feelings.push(average(fmap.map[i])); //Push Avg feeling for a date
          chart_data.labels.push(i); //Push Date
          chart_data.bgColors.push("rgba(255, 99, 132, 0.2)");
          chart_data.brdrColors.push("rgba(255, 206, 86, 1)");
        }
        createChart(chart_data);
      });
    });

    function createChart(chart_data) {
      var ctx = document.getElementById("feelings-chart");
      var myChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: chart_data.labels,
          datasets: [{
            label: "Intern Feelings",
            data: chart_data.feelings,
            backgroundColor: chart_data.bgColors,
            borderColor: chart_data.brdrColors,
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero:true
              }
            }]
          },
          responsive:true,
          title: {
              display:true,
              text:"Intern Feelings Over Time"
          }
        }
      });
  }

  //Returns true if form fields are valid. false otherwise
  function validFields(start_date, end_date, department, school) {
    //Need at least one field
    if (start_date == "" && end_date == "" && department == "" && school == "") { return false; }
    return validDates(start_date, end_date);
  }

  //Returns true if dates are valid. false otherwise
  function validDates(start_date, end_date) {
    var start_moment = new Date(start_date);
    var end_moment = new Date(end_date);

    if (start_date == "" && end_date == "") { return true; } //No dates. Valid
    else if (start_date == "") { return true; } //No start date, maybe an end date. Valid
    else if (end_date == "") { return true; } //No end date. There is a start date. Valid

    if (start_moment <= end_moment) { //Both dates exist. Start must be before end
      console.log("Valid dates");
      return true;
    } else {
      console.log("Not valid dates");
      return false;
    }
  }

  //Returns average of an array, rounding to 2 decimal places
  function average(array) {
    var sum = 0.0;
    var n = (1.0 * array.length);
    for (var i = 0; i < n; ++i) {
      sum += array[i];
    }
    return (sum / n).toFixed(2);
  }
</script>
{% end %}
