{% extends "base.html" %}

{% block css %}
<link href="static/css/jquery-ui.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.3/css/bootstrap-select.min.css">

<script src="static/js/jquery.js"></script>
<script src="static/js/Chart.bundle.min.js"></script>
<script src="static/js/moment.js"></script>
<script src="static/js/jquery-ui.min.js"></script>
<script src="/static/js/departments.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.3/js/bootstrap-select.min.js"></script>

<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.3/js/i18n/defaults-*.min.js"></script> -->
<style media="screen">
  #invalidDates {
    display: inline-block;
    line-height: normal;
    font-size: 14px;
    padding-top: 8px;
    padding-bottom: 8px;
    visibility: hidden;
  }


  .buttonCSS {
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 14px;
  }

  .disabled {
   pointer-events: none;
   cursor: default;
 }

</style>
{% end %}

{% block header %}
<header class="intro-header" style="background-image: url('static/img/home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h2 style="font-weight: 400;">Analytics</h2>
                    <hr class="small">
                    <span id='description' class="subheading">A little knowledge is a dangerous thing.</span><br>
                </div>
            </div>
        </div>
    </div>
</header>
{% end %}


<!-- Main Content -->
{% block content %}
<div class="container-fluid">
<div class="row">
    <p style="font-size:0.75em">
      Sort the Intern Experience by Dates, Department, or School
    </p>

    <div id="invalidDates" class="alert alert-danger">
        Invalid Dates
    </div>

    <form name="sentMessage" id="chartForm" novalidate>
    <div class="col-lg-5">
            <div class="row">
                <label for="start-date">Start </label>
              <input id="start-date" class="datepicker" style="width: 100%" />
            </div>


            <div class="row">
                <label for="end-date">End </label>
              <input id="end-date" class="datepicker" style="width: 100%" />
            </div>
    </div>
        <div class="col-lg-5 col-lg-offset-2">

            <div class="row">
                <label for="department">Department </label>
                <select data-width="100%" id="department" class="selectpicker show-tick show-menu-arrow changed" data-live-search="true" title="Department"></select>
            </div>
              <script>
                for (var i = 0; i < departments.length; i++) {
                    $("#department").append($("<option>").text(departments[i]));
                }
            </script>
            <div class="row">
                <label for="school">School </label>
              <input id="school" style="width: 100%" />
            </div>

            <br>
            <br>
        </div>
        <div class="row">
            <div class="form-group col-xs-12">
                <button id="new-chart-button" type="button" class="btn btn-block btn-default">Generate</button>
            </div>
        </div>
        </form>
    </div>
</div>

<div class="row">
  <button type="button" name="button" class="btn btn-info" id="export-all-btn" onclick="exportAll()">Export All to Excel</button>
  <a id="downloadLink" class="buttonCSS" style="display: none;"> <span class="glyphicon glyphicon-link"></span> Download Excel File </a>
  <a id="errorMessage" class="buttonCSS disabled" style="display: none">Sorry! An Error Occured</a>
</div>

<div class="row">
  <div id="chart" class="col-lg-8 col-lg-offset-2">
    <canvas id="feelings-chart" height="160"></canvas>
  </div>
</div>









<script>
//Maps feelings by date
//Key => date
//Value => array of feelings
class FeelingMap {
  constructor() {
    this.map = {};
  }

  //insert feeling based on date
  insert(date, feeling) {
    if (this.map[date] == undefined) { this.map[date] = [feeling]; }
    else { this.map[date].push(feeling); }
  }

  //print feeling map
  print() {
    console.log("Feeling map");
    for (var feelings in this.map) {
      console.log(feelings);
      console.log(this.map[feelings]);
    }
  }
}

//Stores all data for a Chart
class ChartData {
  constructor() {
    this.feelings = [];
    this.labels = [];
    this.bgColor = [];
    this.brdrColor = [];
  }

  reset() {
    this.feelings = [];
    this.labels = [];
    this.bgColor = [];
    this.brdrColor = [];
  }
}

  $(document).ready(function() {
    $(".datepicker").datepicker();
  });

    function exportAll() {
      $.ajax({
        type: "POST",
        url: "/exportData",
        data: {
          "export_all": "true"
        }
      }).complete(function(o) {
        console.log("Hello");
        j = o.responseText;
        obj = JSON.parse(j);
        if (obj.success == "1") {
          console.log("Success!");
          prefix = "Intern_Data_";
          time_stamp = moment().format("YYYYMMDD_hhmmss");
          ext = ".csv";
          filename = prefix + time_stamp.toString() + ext;
          $("#downloadLink").attr({
            "href": obj.link,
            "download": filename
          });
          $("#downloadLink").hide().fadeIn();
        }
        else {
          console.log("Failed.");
          $("#errorMessage").hide().fadeIn();

        }
      });
    }

    $("#new-chart-button").click(function() {
      var start_date = $("#start-date").val();
      var end_date = $("#end-date").val();
      var department = $("#department").val();
      var school = $("#school").val();
      var chart_data = new ChartData();

      if (!validFields(start_date, end_date, department, school)) { return; }

      $.ajax({
        type:"GET",
        url:"/newChart",
        data: {
          "start_date" : start_date,
          "end_date" : end_date,
          "department": department,
          "school": school
        }
      }).complete(function(o){
        j = o.responseText;
        obj = JSON.parse(j);
        var fmap = new FeelingMap();
        for (var i = 0; i < obj.length; i++) {
            fmap.insert(obj[i].time_posted, obj[i].feeling);
        }

        chart_data.bg_Color = "rgba(255, 99, 132, 0.2)";
        chart_data.brdrColor = "rgba(255, 206, 86, 1)";
        for (var i in fmap.map) {
          chart_data.feelings.push(average(fmap.map[i])); //Push Avg feeling for a date
          chart_data.labels.push(i); //Push Date
        }
        createChart(chart_data);
      });
    });

    function createChart(chart_data) {
      var ctx = document.getElementById("feelings-chart");
      var myChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: chart_data.labels,
          datasets: [{
            label: "Intern Feelings",
            data: chart_data.feelings,
            backgroundColor: chart_data.bg_Color,
            borderColor: chart_data.brdrColor,
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero:true
              }
            }]
          },
          responsive:true,
          title: {
              display:true,
              text:"Intern Feelings Over Time"
          }
        }
      });
  }

  //Returns true if form fields are valid. false otherwise
  function validFields(start_date, end_date, department, school) {
    //Need at least one field
    if (start_date == "" && end_date == "" && department == "" && school == "") { return false; }
    return validDates(start_date, end_date);
  }

  //Returns true if dates are valid. false otherwise
  function validDates(start_date, end_date) {
    var start_moment = new Date(start_date);
    var end_moment = new Date(end_date);

    if (start_date == "" && end_date == "") { return true; } //No dates. Valid
    else if (start_date == "") { return true; } //No start date, maybe an end date. Valid
    else if (end_date == "") { return true; } //No end date. There is a start date. Valid

    if (start_moment <= end_moment) { //Both dates exist. Start must be before end
      return true;
    } else {
      $("#invalidDates").css('visibility','visible').hide().fadeIn();
      return false;
    }
  }

  //Returns average of an array, rounding to 2 decimal places
  function average(array) {
    var sum = 0.0;
    var n = (1.0 * array.length);
    for (var i = 0; i < n; ++i) {
      sum += array[i];
    }
    return (sum / n).toFixed(2);
  }
</script>
{% end %}
