{% extends "base.html" %}

{% block css %}
<script src="static/js/jquery.js"></script>
<script src="static/js/Chart.bundle.min.js"></script>
<script src="static/js/moment.js"></script>
<script src="static/js/jquery-ui.min.js"></script>
<link href="static/css/jquery-ui.min.css" rel="stylesheet">
{% end %}

{% block header %}
<header class="intro-header" style="background-image: url('static/img/home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h2>Analytics</h2>
                    <hr class="small">
                    <span id='description' class="subheading">A little knowledge is a dangerous thing.</span><br>
                </div>
            </div>
        </div>
    </div>
</header>
{% end %}


<!-- Main Content -->
{% block content %}
<div class="row">
    <form>
      <label for="start-date">Start </label>
      <input id="start-date" class="datepicker" />
      <label for="end-date">End </label>
      <input id="end-date" class="datepicker" />
    </form>
</div>


<div class="row">
  <div id="chart" class="col-lg-8 col-lg-offset-2">
    <canvas id="feelings-chart" height="160"></canvas>
  </div>
</div>




<script>
  $(document).ready(function() {
    $(".datepicker").datepicker();
  });

    var feelingsData = [];
    var labelsData = [];
    var bgColorData = [];
    var brdrColorData = [];

    $.ajax({
        type:"GET",
        url:"/random"
    }).complete(function(o){
        j = o.responseText;
        console.log(j);
        obj = JSON.parse(j);
        $("#results").html("");
        for (var i = 0; i < obj.length; i++) {
            feelingsData.push(obj[i].feeling);
            labelsData.push(i);
            bgColorData.push("rgba(255, 99, 132, 0.2)");
            brdrColorData.push("rgba(255, 206, 86, 1)");
        }
        createChart(feelingsData, labelsData);
    });



    function createChart(feelingsData, labelsData) {
      var ctx = document.getElementById("feelings-chart");
      var myChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: labelsData,
          datasets: [{
            label: "Intern Feelings",
            data: feelingsData,
            backgroundColor: bgColorData,
            borderColor: brdrColorData,
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero:true
              }
            }]
          },
          responsive:true,
          title: {
              display:true,
              text:"Average Intern over Time"
          }
        }
      });
  }
</script>
{% end %}
