{% extends "base.html" %}

{% block css %}
<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href= "static/css/emojiBar.css">
<link rel="stylesheet" type="text/css" href= "static/css/form-button.css">
<script src="static/js/jquery.js"></script>
{% end %}

{% block header %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('static/img/SF.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h2>Tell us about yourself</h2>
                        <hr class="small">
                        <span class="subheading">Everyone's experience is unique, tell us about yours.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% end %}



{% block content %}
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <form name="sentMessage" id="contactForm">
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <h4 style="font-weight: normal; color: grey">How are you feeling?</h4>
                            <div class="sameRow spacer high"></div>

                            <div class="sameRow spacer">
                                <i class="em em-satisfied" id="10"></i>
                            </div>

                            <div class="sameRow spacer" >
                                <i class="em em-stuck_out_tongue" id="9"></i>
                            </div>

                            <div class="sameRow spacer" >
                                <i class="em em-relaxed" id="8"></i>
                            </div>

                            <div class="sameRow spacer" >
                                <i class="em em-triumph" id="7"></i>
                            </div>

                            <div class="sameRow spacer" >
                                <i class="em em-neutral_face" id="6"></i>
                            </div>

                            <div class="sameRow spacer" >
                                <i class="em em-sweat_smile" id="5"></i>
                            </div>

                            <div class="sameRow spacer" >
                                <i class="em em-unamused" id="4"></i>
                            </div>

                            <div class="sameRow spacer" >
                                <i class="em em-worried" id="3"></i>
                            </div>


                            <div class="sameRow spacer" >
                                <i class="em em-weary" id="2"></i>
                            </div>

                            <div class="sameRow spacer">
                                <i class="em em-angry" id="1"></i>
                            </div>

                            <p class="help-block text-danger"></p>
                        </div>
                    </div>

                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <button type="button" id="anon" class="btn btn-block btn-default form-button" name="button">Go Public</button>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>

                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Title</label>
                            <input type='text' class="form-control" placeholder="Title your post" name="title" id="title">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Tell us a little more?</label>
                            <textarea rows="5" class="form-control" placeholder="Tell us a little more?" name="message" id="message"></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button type="button" id="submit" class="btn btn-block btn-default">Send</button>
                        </div>
                    </div>
                </form>
            </div>
            <div id="success" class="alert alert-success" style="display: none">
                <strong>Congrats!<br></strong>Your post should appear shortly.
            </div>
        </div>
<script>
    var feeling = -1;
    var anonymous = 0;
    var anonCSS = {
      "backgroundColor" : "blue",
      "color" : "white"
    }
    var publicCSS = {
      "backgroundColor" : "white",
      "color" : "black"
    }

    //TODO: Semi-Hacky and not very efficient find a better way to do this
    function makeBig(id) {
        for (var i = 1; i < 11; i++) {
            makeSmall(i);
        }
        $("#" + id).css("transform", "scale(2,2)");
    }
    function makeSmall(id) {
        $("#" + id).css("transform","scale(1,1)");
    }
    $(".em").click(function() {
        makeBig(this.id);
        feeling = this.id;
    })

    $("#anon").click(function() {
      anonymous = anonymous ^ 1;
      if (anonymous == 1) {
        $("#anon").css(anonCSS);
        $("#anon").text("Go Anonymous")
      }
      else {
        $("#anon").css(publicCSS);
        $("#anon").text("Go Public")
      }
    })

    $("#submit").click(function() {
      if (feeling < 0) { console.log("Feeling not selected"); return;}

      var anon = anonymous;
      var title = $("#title").val() ? $("#title").val() : "";
      var message = $("#message").val() ? $("#message").val() : "";
      $.ajax({
        type:"POST",
        url:"/newPost",
        data: {
          "feeling": feeling,
          "anon": anon,
          "title": title,
          "message": message
        }
      }).complete(function(o){
        j = o.responseText;
        console.log(j);
        obj = JSON.parse(j);
        if (obj[0]["success"] == "true") {
          $("#success").show().delay(2000).fadeOut(1000);
        }
      });
    });

</script>
{% end %}
