{% extends "base.html" %}

{% block css %}
<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href= static/css/emojiBar.css>
{% end %}

{% block header %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('static/img/SF.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h2>Tell us about yourself</h2>
                        <hr class="small">
                        <span class="subheading">Everyone's experience is unique, tell us about yours.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% end %}



{% block content %}
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <!-- Contact Form - Enter your email address on line 19 of the mail/contact_me.php file to make this form work. -->
                <!-- WARNING: Some web hosts do not allow emails to be sent through forms to common mail hosts like Gmail or Yahoo. It's recommended that you use a private domain email address! -->
                <!-- NOTE: To use the contact form, your site must be on a live web host with PHP! The form will not work locally! -->
                <form name="sentMessage" id="contactForm" action="/newPost" method="post" novalidate>
                    <p>Tell us what's relevant. Message not required.</p>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>What's your Project</label>
                            <input type="text" class="form-control" placeholder="Project" id="project" name="project" required data-validation-required-message="Please enter your project.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Go Anonymous?</label>
                            <input type="email" class="form-control" placeholder="Anonymous?" id="anon" name="anon" required data-validation-required-message="Please enter your anon status.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <h4 style="font-weight: normal; color: grey">How are you feeling?</h4>
                            <div class="sameRow spacer high"></div>

                            <div class="sameRow spacer">
                                <i class="em em-satisfied" id="1"></i>
                            </div>

                            <div class="sameRow spacer" id="2">
                                <i class="em em-stuck_out_tongue"></i>
                            </div>

                            <div class="sameRow spacer" id="3">
                                <i class="em em-relaxed"></i>
                            </div>

                            <div class="sameRow spacer" id="4">
                                <i class="em em-triumph"></i>
                            </div>

                            <div class="sameRow spacer" id="5">
                                <i class="em em-neutral_face"></i>
                            </div>

                            <div class="sameRow spacer" id="6">
                                <i class="em em-sweat_smile"></i>
                            </div>

                            <div class="sameRow spacer" id="7">
                                <i class="em em-unamused"></i>
                            </div>

                            <div class="sameRow spacer" id="8">
                                <i class="em em-worried"></i>
                            </div>


                            <div class="sameRow spacer" id="9">
                                <i class="em em-weary"></i>
                            </div>

                            <div class="sameRow spacer" id="10">
                                <i class="em em-angry"></i>
                            </div>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>

                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Title</label>
                            <input type='text' class="form-control" placeholder="Title your post" name="title" id="title">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Tell us a little more?</label>
                            <textarea rows="5" class="form-control" placeholder="Tell us a little more?" name="message" id="message"></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button type="submit" class="btn btn-block btn-default">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
<script>
    function makeBig(id) {
        $("#" + id).css("transform", "scale(2,2)");
    }

    $(".em").click(function() {
        $(makeBig(id))
    })


</script>
{% end %}


<!--
                    <script>
                        document.getElementById("1").onclick = function () {
                            document.getElementById("1").setAttribute("class", "one")
                        }
                    </script>