{% extends base.html %}
	{% block css %}
		<link href="static/css/styles.css" rel="stylesheet">
        <script src="static/js/jquery.js"></script>
	{% end %}

{% block header %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('static/img/SF.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h2>Engage</h2>
                        <hr class="small">
                        <span class="subheading">See what your fellow interns are up to</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% end %}


{% block content %}
<div class="container-fluid">
<!-- main right col -->
    <div class="padding">

            <!-- content -->
            <div class="row">
              <div class="col-md-12">
                    <div class="well">
                       <form class="form">
                        <h4>Search for posts</h4>
                        <div class="input-group text-center">
                        <input type="text" class="form-control input-lg" placeholder="Search by author, title, or keyword in the post">
                          <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                        </div>
                      </form>
                    </div>
{#                   Template Item      #}
{#                   <div class="panel panel-default">#}
{#                     <div class="panel-heading"><h4>Bootply Editor &amp; Code Library</h4></div>#}
{#                      <div class="panel-body">#}
{##}
{#                        Design, build, test, and prototype using Bootstrap in real-time from your Web browser. Bootply combines the power of hand-coded HTML, CSS and JavaScript with the benefits of responsive design using Bootstrap. Find and showcase Bootstrap-ready snippets in the 100% free Bootply.com code repository.#}
{#                      </div>#}
{#                   </div>#}
{#                    End Template Item    #}
                  <div id="results"></div>
              </div>
           </div><!--/row-->
        </div><!-- /col-9 -->
    </div><!-- /padding -->
</div>
            <!-- /main -->


<!--post modal-->
<div id="postModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			Update Status
      </div>
      <div class="modal-body">
          <form class="form center-block">
            <div class="form-group">
              <textarea class="form-control input-lg" autofocus="" placeholder="What do you want to share?"></textarea>
            </div>
          </form>
      </div>
      <div class="modal-footer">
          <div>
          <button class="btn btn-primary btn-sm" data-dismiss="modal" aria-hidden="true">Post</button>
            <ul class="pull-left list-inline"><li><a href=""><i class="glyphicon glyphicon-upload"></i></a></li><li><a href=""><i class="glyphicon glyphicon-camera"></i></a></li><li><a href=""><i class="glyphicon glyphicon-map-marker"></i></a></li></ul>
		  </div>
      </div>
  </div>
  </div>
</div>
    <script src="/static/js/scripts.js"></script>
     <script>
          $.ajax({
              type: "GET",
              url: "/random"
          }).complete(function(o) {
             j = o.responseText;
             console.log(j);
             obj = JSON.parse(j);
             for (var i = 0; i < obj.length; i++) {
                 var panel = $("<div>", {"class": "panel panel-default"});
                 panel.append($("<div>", {'class':'panel-heading'}).append(
                     $("<h4>",{"text":obj[i].title + "\nPosted by " + obj[i].author}))).append(
                        $("<div>", {"class": "panel-body"}).text(obj[i].content)
                 ).append($("<a>",{"class":"btn btn-sm btn-primary","id":obj[i].id,"href":"#","text":"Likes: " + obj[i].likes + " ", "style":"margin-bottom:2%; margin-left:2%"}).append($("<span>",{"class":"glyphicon glyphicon-thumbs-up"})))
                 $("#results").append(panel);
             }
             $("#results").html($("#results").html().replace(/\n/g,'<br/>'));
          });
      </script>
{% end %}

{% block footer %}{% end %}
