{% extends base.html %}
	{% block css %}

        <script src="static/js/jquery.js"></script>
				<script src="static/js/moment.js"></script>
        <link rel="stylesheet" href="/static/css/form-button.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <script src="/static/js/modalBuild.js"></script>


	{% end %}

{% block header %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/static/img/SF.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h2>The Core Directory</h2>
                        <hr class="small">
                        <span class="subheading">See what your fellow interns are up to</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% end %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <p class="lead">Your tool to query across our users and posts</p>

                    <div class="input-group">
                       <input id='searcher' type="text" name="q" style="width:90%" placeholder="Use the dropdown to search users or posts" class="form-control">
                       <select name="req" id="req" class="selectpicker form-control" style="width: 10%;">
                            <option value="p" id="experiments">Posts</option>
                           <option selected value="u" id="default">Users</option>
                       </select>
                       <span class="input-group-btn">
                           <a class="btn btn-default" onclick="loadSearch()">Search</a>
                       </span>
                    </div>

            </div>
        </div>
        <br>
        <div id="results"></div>
        <!-- /.row -->
    </div>
            <!-- /main -->



    <script src="/static/js/scripts.js"></script>
     <script>
          $.ajax({
              type: "GET",
              url: "/random"
          }).complete(function(o) {
             j = o.responseText;
             console.log(j);
             obj = JSON.parse(j);
             var now = moment();
             var extra = "";
             for (var i = 0; i < obj.length; i++) {
                 var time_posted = moment((obj[i].time_posted)); //Time Posted in seconds
                 var diff = getDateDiff(now, time_posted);
                 if (obj[i].content.length > 40) {
                    extra = $("<a>",{"onclick":`openModal('${obj[i].author}','${obj[i].content}')`,"style":"font-size:0.75em"}).text("See More...")
                 }
                 var panel = $("<div>", {"class": "w3-container w3-card-2 w3-white w3-margin-bottom"});
                 panel.append($("<div>", {'class':'w3-container'}).append(
                     $("<h4>",{"text":obj[i].title + "\nPosted by ", "class":"w3-text-grey"}).append($("<a>", {"href":`/view?email=${obj[i].email}`, "text": obj[i].author}), $("<span>", {"text": "\n" + diff, "style": "font-size: 12px"}))
									 	 )).append(
                        $("<div>", {"class": "panel-body","text":obj[i].content.slice(0,40) + " "}).append(extra)
                 ).append($("<a>",{
                     "class":"btn btn-sm btn-primary",
                     "id":obj[i].id,
                     "onclick": "submitVote(this.id)",
                     "text":"Likes: " + obj[i].likes + " ",
                     "style":"margin-bottom:2%; margin-left:2%"
                 }).append($("<span>",{"class":"glyphicon glyphicon-thumbs-up"})));

                 $("#results").append(panel);
             }
             $("#results").html($("#results").html().replace(/\n/g,'<br/>'));
          });


          function loadSearch() {
              var query = $("#searcher").val();
              var req = $("#req").val();
              $("#results").html("");
              if (req === "p") {
                  $.ajax({
                      type: "GET",
                      url: `/search?q=${query}&req=${req}`
                  }).complete(function (o) {
                      j = o.responseText;
                      console.log(j);
                      obj = JSON.parse(j);
											var now = moment();
                      for (var i = 0; i < obj.length; i++) {
													var time_posted = moment((obj[i].time_posted)); //Time Posted in seconds
													var diff = getDateDiff(now, time_posted);
                          var panel = $("<div>", {"class": "w3-container w3-card-2 w3-white w3-margin-bottom"});
													panel.append($("<div>", {'class':'w3-container'}).append(
				                      $("<h4>",{"text":obj[i].title + "\nPosted by ", "class":"w3-text-grey"}).append($("<a>", {"href":`/view?email=${obj[i].email}`, "text": obj[i].author}), $("<span>", {"text": "\n" + diff, "style": "font-size: 12px"}))
				 									 	 )).append(
				                         $("<div>", {"class": "panel-body"}).text(obj[i].content)
				                  ).append($("<a>",{
				                      "class":"btn btn-sm btn-primary",
				                      "id":obj[i].id,
				                      "onclick": "submitVote(this.id)",
				                      "text":"Likes: " + obj[i].likes + " ",
				                      "style":"margin-bottom:2%; margin-left:2%"
				                  }).append($("<span>",{"class":"glyphicon glyphicon-thumbs-up"})));
                          $("#results").append(panel);
                      }
                      $("#results").html($("#results").html().replace(/\n/g, '<br/>'));
                  });
              } else {
                $.ajax({
                  type: "GET",
                  url: `/search?q=${query}&req=${req}`
                  }).complete(function (o) {
                      j = o.responseText;
                      console.log(j);
                      obj = JSON.parse(j);
                      for (var i = 0; i < obj.length; i++) {
                           var panel = $("<div>", {"class": "w3-container w3-card-2 w3-white w3-margin-bottom"});
                          panel.append($("<div>", {'class': 'w3-container'}).append(
                              $("<a>",{"href":`/view?email=${obj[i].email}`}).append(
                              $("<h4>", {"text": obj[i].firstname + " " + obj[i].lastname,"class":"w3-text-grey w3-padding-16"})))
                          ).append(
                              $("<div>", {"class": "panel-body"}).text("Department: " + obj[i].department)
                          ).append($("<div>", {
                              "class":"panel-body",
                              "text":
                              "Email: " + obj[i].email + "\n" +
                              "University: " + obj[i].school + "\n" +
                              "Manager: " + obj[i].manager + "\n",
                          }));
                          $("#results").append(panel);
                      }
                      $("#results").html($("#results").html().replace(/\n/g, '<br/>'));
                  });
              }
          }

					//Returns time elapsed between two dates
					var units = ["years", "months", "weeks", "days", "hours", "minutes", "seconds"];
					function getDateDiff(now, time_posted) {
						for(var i = 0; i < units.length; ++i) {
							var diff = now.diff(time_posted, units[i]);
							if (diff) { return formatDateDiff(diff, units[i]); }
						}
					}

					//Returns formatted date difference string
					function formatDateDiff(diff, unit) {
						if (diff == 1) { return diff + " " + unit.slice(0,unit.length-1) +  " ago."} //singular (take off 's')
						else { return diff + " " + unit + " ago."} //plural
					}
      </script>

<script>
    function submitVote(id) {
        $.ajax({
            type:"POST",
            url:"/like",
            data: {
                "vote_id":id
            }
        }).complete(function (o) {
            j = o.responseText;
            console.log(j);
            obj = JSON.parse(j);
            var text = $("#" + id).text().split(": ");
            $("#" + id).text(text[0] + ": " + (JSON.parse(text[1]) + obj) + " ").append($("<span>", {"class": "glyphicon glyphicon-thumbs-up"}));
            console.log(text);
        })
    }
</script>





{% end %}

{% block footer %}{% end %}
