{% extends base.html %}

{% block css %}
<link href="static/css/login.css" rel="stylesheet" type="text/css">
{% end %}


{% block content %}
<div class="body"></div>
<div class="grad"></div>
<div class="header">
    <div>Intern<span>Corner</span></div>
</div>
<br>
<div class="login">
    <form action="/forgot_password" method="post">
        <input type="text" placeholder="email" name="email" id="email"><br><br>
        <button type="submit" class="btn btn-default">Reset</button>
    </form>
</div>
{% end %}


{% block footer %}
{% end %}
