{% extends "base.html" %}

{% block css %}
<script src="static/js/jquery.js"></script>
{% end %}

{% block header %}
<header class="intro-header" style="background-image: url('static/img/home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h2>Share Your Experience</h2>
                    <hr class="small">
                    <span id='description' class="subheading">A Way to keep track of the Cisco Intern Journey</span><br>
                    <div id="success" class="alert alert-success" style="display: none">
                        <strong>Congrats!<br></strong>Your post should appear shortly.
                        {%  if message==1 %}
                            <script>
                                $("#success").show().delay(2000).fadeOut();
                            </script>
                        {% end %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
{% end %}


<!-- Main Content -->
{% block content %}
<div class="row">
    <div id='results' class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    </div>
</div>

<script>
    $.ajax({
        type:"GET",
        url:"/top"
    }).complete(function(o){
        j = o.responseText;
        console.log(j);
        obj = JSON.parse(j);
        $("#results").html("");
        for (var i = 0; i < obj.length; i++) {
            $("#results").append($("<div>", {"class":"post-preview"}).append(
                $("<h2>", {"class":"post-title"}).text(obj[i].title).append(
                    $("<h3>", {"class":"post-subtitle"}).text(obj[i].content.slice(0,15) + "...\n" + "Feeling: " + obj[i].feeling).css("font-weight","normal")
                .append(
                    $("<p>", {"class":"post-meta"}).text("Posted by: " + obj[i].author)))
            )).append($("<a>",{"class":"btn btn-sm btn-primary","href":"#","text":"Likes: " + obj[i].likes + " "}).append($("<span>",{"class":"glyphicon glyphicon-thumbs-up"}))).append("<hr>");
        }
        $("#results").html($("#results").html().replace(/\n/g,'<br/>'));


    })




</script>



{#<div class="row">#}
{#    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">#}
{#        <div class="post-preview">#}
{#            <a href="post.html">#}
{#                <h2 class="post-title">#}
{#                    Man must explore, and this is exploration at its greatest#}
{#                </h2>#}
{#                <h3 class="post-subtitle">#}
{#                    Problems look mighty small from 150 miles up#}
{#                </h3>#}
{#            </a>#}
{#            <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on September 24, 2014</p>#}
{#        </div>#}
{#        <hr>#}
{#        <div class="post-preview">#}
{#            <a href="post.html">#}
{#                <h2 class="post-title">#}
{#                    I believe every human has a finite number of heartbeats. I don't intend to waste any of mine.#}
{#                </h2>#}
{#            </a>#}
{#            <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on September 18, 2014</p>#}
{#        </div>#}
{#        <hr>#}
{#        <div class="post-preview">#}
{#            <a href="post.html">#}
{#                <h2 class="post-title">#}
{#                    Science has not yet mastered prophecy#}
{#                </h2>#}
{#                <h3 class="post-subtitle">#}
{#                    We predict too much for the next year and yet far too little for the next ten.#}
{#                </h3>#}
{#            </a>#}
{#            <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on August 24, 2014</p>#}
{#        </div>#}
{#        <hr>#}
{#        <div class="post-preview">#}
{#            <a href="post.html">#}
{#                <h2 class="post-title">#}
{#                    Failure is not an option#}
{#                </h2>#}
{#                <h3 class="post-subtitle">#}
{#                    Many say exploration is part of our destiny, but it’s actually our duty to future generations.#}
{#                </h3>#}
{#            </a>#}
{#            <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on July 8, 2014</p>#}
{#        </div>#}
{#        <hr>#}
{#        <!-- Pager -->#}
{#        <ul class="pager">#}
{#            <li class="next">#}
{#                <a href="#">More Posts &rarr;</a>#}
{#            </li>#}
{#        </ul>#}
{#    </div>#}
{#</div>#}
{% end %}
