{% extends "base.html" %}

{% block css %}
<script src="static/js/jquery.js"></script>
<script src="static/js/Chart.bundle.min.js"></script>
<script src="static/js/moment.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">




<style>
    .bacolo{
        background-color: ;
    }

    .bacolor2{
        background-color: lightgrey;
    }

    .balcol{
        background-color: #c0a16b;
    }

    .sp{
        margin-left: 130px;
    }

    .sp2{
        margin-left: 70px;
    }

    .mov{
        margin-top: 100px;
        text-align: center;
    }

    .sR{
        display: inline-block;
    }

</style>

{% end %}

{% block header %}
<header class="intro-header" style="background-image: url('static/img/home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h2>Share Your Experience</h2>
                    <hr class="small">
                    <span id='description' class="subheading">A Way to keep track of the Cisco Intern Journey</span><br>
                </div>
            </div>
        </div>
    </div>
</header>
{% end %}


<!-- Main Content -->
{% block content %}

<!--Quote of the Day-->
<div id="quote">
    <h2 style="text-align: center; color: teal">Quote of the Day</h2>
    <hr>
</div>



<br><br><br><br><br><br><br><br>




<h2 style="text-align: center; color: teal">Leaderboard</h2>
<hr>


<!--Leaderboard-->


<div class="col-md-2" style="padding-left: 350px">
    <div class="w3-third mov sp">
        <div class="w3-white w3-text-grey w3-card-4" style="margin-top: -65px; margin-left: -400px;">
            <div class="w3-display-container" style="text-align: center">
                <div class="w3-display-bottomleft w3-container w3-text-black" style="text-align: center">
                    <h3 class="spac w3-text-teal" style="text-align: center">Most Likes   👍</h3>
                </div>
            </div>
            <div class="w3-container w3-text-teal">
                <table id="mostLikes" class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th style="text-align: center">Name</th>
                        <th style="text-align: center">Likes</th>
                    </tr>
                    </thead>
                </table>

                <hr>

            </div>
        </div>
    </div>
</div>

<div class="col-md-2 col-md-offset-2" style="padding-left: 325px">
    <div class="w3-third mov sp">
        <div class="w3-white w3-text-grey w3-card-4" style="margin-top: -65px; margin-left: -400px;">
            <div class="w3-display-container" style="text-align: center">
                <div class="w3-display-bottomleft w3-container w3-text-black" style="text-align: center">
                    <h3 class="spac w3-text-teal" style="text-align: center">Top Streaks   🔥</h3>
                </div>
            </div>
            <div class="w3-container w3-text-teal">
                <table id="topStreaks" class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th style="text-align: center">Name</th>
                        <th style="text-align: center">Likes</th>
                    </tr>
                    </thead>
                </table>

                <hr>

            </div>
        </div>
    </div>
</div>





<!---->

<br><br><br><br><br><br>








<script>

    $.ajax({
        type: "GET",
        url: "/postOfDay"
    }).complete(function (o) {
        j = o.responseText;
        console.log(j);
        obj = JSON.parse(j);
        $("#quote").append($("<div>").append($("<h4>", {"id":"target"}).text("Title: " + obj[0]["title"] + "\nPost: " + obj[0]["content"])));
        $("#quote").html($("#quote").html().replace(/\n/g,'<br/>'));
    });




    $.ajax({
        type: "GET",
        url: "/mostLikes",
    }).complete(function (o) {
        j = o.responseText;
        console.log(j);
        obj = JSON.parse(j);
        for(var i=0; i<3; i++)
        {
            var row = $("<tr>");
            row.append($("<td>").text(i+1))
            row.append($("<td>").text(obj[i]["firstname"]));
            row.append($("<td>").text(obj[i]["department"]));
            $("#mostLikes").append(row);
        }

    });

    $.ajax({
        type: "GET",
        url: "/mostLikes",
    }).complete(function (o) {
        j = o.responseText;
        console.log(j);
        obj = JSON.parse(j);
        for(var i=0; i<3; i++)
        {
            var row = $("<tr>");
            row.append($("<td>").text(i+1))
            row.append($("<td>").text(obj[i]["firstname"]));
            row.append($("<td>").text(obj[i]["department"]));
            $("#topStreaks").append(row);
        }

    });




</script>






{% end %}
