{% extends "base.html" %}

{% block css %}
<script src="static/js/jquery.js"></script>
<script src="static/js/Chart.bundle.min.js"></script>
<script src="static/js/moment.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>

    .top-buffer {
      margin-top: 15px;
    }

    body {
      color: teal;
    }

    h1, h3, th, table {
      text-align: center;
    }

    .contrast{
        color: ghostwhite;
    }

</style>

{% end %}

{% block header %}
<header class="intro-header" style="background-image: url('http://cdn.pcwallart.com/images/mountain-river-sunset-wallpaper-2.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h2>Share Your Experience</h2>
                    <hr class="small">
                    <span id='description' class="subheading">A Way to keep track of the Cisco Intern Journey</span><br>
                </div>
            </div>
        </div>
    </div>
</header>
{% end %}

<!-- Main Content -->
{% block content %}



<!--Leaderboard Section-->
<div class="container top-buffer">
<h1>Leaderboards</h1>
<hr>

  <div class="row top-buffer">
    <div class="col-lg-5 ">
      <h3>Most Likes   👍</h3>
        <table id="mostLikes" class="table w3-card-4">
            <thead>
            <tr>
                <th>#</th>
                <th>Post</th>
                <th>Likes</th>
            </tr>
            </thead>
        </table>
    </div>

    <div class="col-lg-2">
    </div>

    <div class="col-lg-5 ">
      <h3>Top Streaks   🔥</h3>
        <table id="topStreaks" class="table w3-card-4">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Streak</th>
            </tr>
            </thead>
        </table>
    </div>

  </div>

  <div class="row top-buffer">
    <div class="col-lg-3"></div>

    <div class="col-lg-6">
      <h3>Post of the Day   ✏️</h3>
      <div class=" w3-card-4">
        <div id="quote" class="w3-container"></div>
      </div>
    </div>

    <div class="col-lg-3"></div>
  </div>
</div>

<!--Cisco Headlines-->
<div class="container" style="padding-top:3%">
    <h1>Cisco Headlines</h1>
    <hr>
    <div id="target"></div>
</div>


<div class="container-fluid">
    <div class="row" >
        <br>
        <button id="less" onclick="showLess()" class="btn btn-default" style="margin-top:3%; display:inline-block">Less</button>
        <button id="more" onclick="showMore()" class="btn btn-default" style="margin-top:3%; display:inline-block">More</button>
    </div>
</div>


<script>
    var urlParams = new URLSearchParams(window.location.search);
    var LIMIT = JSON.parse(urlParams.get("limit"));
    if (LIMIT == null) {
        LIMIT = 4;
    }

    //Show posts when page loads.
    showPosts();

    function showPosts() {
      $.ajax({
          type: "GET",
          url: `/admin-posts?limit=${LIMIT}`,
      }).complete(function (o) {
          const now = moment();
          j = o.responseText;
          console.log(j);
          obj = JSON.parse(j);
          if (obj.length < LIMIT) {
              $("#more").hide();
          } else {
            $("#more").show();
          }
          if (LIMIT <= 4) {
              $("#less").hide();
          } else {
            $("#less").show();
          }
          $("#target").html("");
          for(var i = 0; i<obj.length; i++) {
              var time_posted = moment.utc((obj[i].time_posted)); //Time Posted in seconds
              var diff = getDateDiff(now, time_posted);
              var classes = "col-md-5 w3-card-4";
              var style='margin-top:30px; height:300px';
              if (i % 2 === 1) {
                  classes += " col-lg-offset-2";

              }
              if (i === obj.length -1 && i%2 === 0) {
                  style += " text-align:center;";
                  classes = "w3-card-4 col-lg-12"
              }
              $("#target").append($("<div>",{"class": classes,"style":style}).append(
                  $("<h2>", {"style":"text-align: center; padding-top: 20px; padding-bottom: 40px; color: teal;"}).text(obj[i]["title"])).append(
                  $("<h4>", {"stlye":"text-align: left; padding-bottom: 60px; padding-right: 80px"}).text(obj[i]["content"])).append(
                  $("<p>", {"stlye":"text-align: left; padding-bottom: 60px; padding-right: 80px"}).text(diff))
              );
          }
      });
    }


    function showMore() {
        LIMIT += 4;
        showPosts();
    }
    function showLess() {
        LIMIT -= 4;
        showPosts();
    }





    //Returns time elapsed between two dates
    var units = ["years", "months", "weeks", "days", "hours", "minutes", "seconds"];
    function getDateDiff(now, time_posted) {
        for(var i = 0; i < units.length; ++i) {
            var diff = now.diff(time_posted, units[i]);
            if (diff) { return formatDateDiff(diff, units[i]); }
        }
    }

    //Returns formatted date difference string
    function formatDateDiff(diff, unit) {
        if (diff == 1) { return diff + " " + unit.slice(0,unit.length-1) +  " ago."} //singular (take off 's')
        else { return diff + " " + unit + " ago."} //plural
    }


    $.ajax({
        type: "GET",
        url: "/mostLikes",
    }).complete(function (o) {
        j = o.responseText;
        console.log(j);
        obj = JSON.parse(j);
        for(var i=0; i<3; i++)
        {
            var row = $("<tr>");
            row.append($("<td>").text(i+1));


//            This is to truncate the amount of characters
            ana = obj[i]["content"];
            if(ana.length>55)
            {
                ana = ana.substring(0,55) + "...";
            }


            row.append($("<td>").text(ana));
            row.append($("<td>").text(obj[i]["likes"]));
            $("#mostLikes").append(row);
        }

    });

    $.ajax({
        type: "GET",
        url: "/topStreaks",
    }).complete(function (o) {
        j = o.responseText;
        console.log(j);
        obj = JSON.parse(j);
        for(var i=0; i<3; i++)
        {
            var row = $("<tr>");
            row.append($("<td>").text(i+1))
            row.append($("<td>").text(obj[i]["firstname"] + " " + obj[i]["lastname"]));
            row.append($("<td>").text(obj[i]["streak"]));
            row.append($("<br>"));
            $("#topStreaks").append(row);
        }

    });


    $.ajax({
        type: "GET",
        url: "/postOfDay"
    }).complete(function (o) {
        j = o.responseText;
        console.log(j);
        obj = JSON.parse(j);

        $("#quote").append($("<h2>", {"style":"text-align: center; color: teal; font-style: italic;"}).text(obj[0]["title"]));
        $("#quote").append($("<h4>").text("❝" + obj[0]["content"] + "❞"));
        $("#quote").append($("<h4>", {"style": "text-align: right;"}).text("-" + obj[0]["author"]));


    });


</script>






{% end %}
