{% extends "base.html" %}

{% block css %}
<script src="/static/js/jquery.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="/static/js/universities.js" type="text/javascript"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.3/css/bootstrap-select.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.3/js/bootstrap-select.min.js"></script>
<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.3/js/i18n/defaults-*.min.js"></script>

<style>
    html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
    .spac{
        height: 10px;
    }
</style>


<body class="w3-light-grey">
{% end %}


{% block header %}
<header class="intro-header" style="background-image: url('/static/img/post-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h2>My Account</h2>
                    <hr class="small">
                    <span id='description' class="subheading">There are many like it, but this one is mine.</span><br>
                </div>
            </div>
        </div>
    </div>
</header>
{% end %}


{% block content %}
<script>
    var urlParams = new URLSearchParams(window.location.search);
    var START = JSON.parse(urlParams.get("start"));
</script>
<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

    <!-- The Grid -->
    <div class="w3-row-padding">

        <!-- Left Column -->
        <div class="w3-third">

            <div class="w3-white w3-text-grey w3-card-4">
                <div class="w3-display-container">
                    <img src="/static/img/avatar.png" style="width:100%" alt="Avatar">
                    <div class="w3-display-bottomleft w3-container w3-text-black">
                      {% if data['streak'] > 0 %}
                        <h3 class="spac">{{ data['firstname'] }} {{ data['lastname'] }} <i class="em em-fire"></i><i class="streak">{{ data['streak'] }}</i></h3>
                      {% else %}
                        <h3 class="spac">{{ data['firstname'] }} {{ data['lastname'] }}</h3>
                      {% end if %}

                      <style media="screen">
                        .streak {
                          font-size: 16px;
                        }
                        .em {
                          width: 20px;
                          height: 20px;
                        }
                      </style>
                    </div>
                </div>
                <div class="w3-container">
                    <div id="personal">
                        <p><i class="fa fa-code fa-fw w3-margin-right w3-large w3-text-teal"></i>Department: {{ data['department'] }}</p>
                        <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>Email: {{ data['email'] }}</p>
                        {% if data['school'] and data['manager'] and data['project'] %}
                        <p><i class="fa fa-university fa-fw w3-margin-right w3-large w3-text-teal"></i>College: {{ data['school'] }}</p>
                        <p><i class="fa fa-user fa-fw w3-margin-right w3-large w3-text-teal"></i>Manager: {{ data['manager'] }}</p>
                        <p><i class="fa fa-wrench fa-fw w3-margin-right w3-large w3-text-teal"></i>Project: {{ eval(data['project'])['title'] }}</p>
                        {% end %}
                    </div>
                    <!--<p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>8323107154</p>-->
                    <hr>
                    {% if not (data['school'] and data['manager'] and data['project']) %}
                    <p><a onclick="showFields()" id="continue">Fill out your profile</a></p>
                    {% end %}
                </div>
            </div><br>

            <!-- End Left Column -->
        </div>

            <!-- Right Column -->

        <!-- Right Column -->
        <div class="w3-twothird">
            <!-- Posts Page -->
            <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
                <h2 id='results' class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Posts <br></h2>
                <div class="container" style="padding-bottom:30px;" id="navButtons">
                    <div class="btn-group" role="group">
                      <a id="backBtn" style="display:inline-block;" onclick="goback();" ><button type="button" class="btn btn-default">Back</button></a>
                      <a id="nextBtn" style="display:inline-block;" onclick="goforward();"><button type="button" class="btn btn-default">Next</button></a>
                    </div>
                </div>
            </div>
        </div>



            <!-- End Right Column -->
        </div>

        <!-- End Grid -->
    </div>
<script>
    if (START === 0) {
        $("#backBtn").hide();
    }
    function goback() {

        window.location.search=`start=${START - 5}`
    }
    function goforward() {
        window.location.search=`start=${START + 5}`
    }
</script>


    <!-- End Page Container -->

<script>
    var emotions = ["Ecstatic", "Funny", "Happy", "Happy", "Victorious", "Neutral", "/", "Sad", "Unhappy", "Angry"];

    $.ajax({
        type: "GET",
        url: `/user_posts?start=${START}`
    }).complete(function(o){
       j = o.responseText;
       console.log(j);
       obj = JSON.parse(j);
       if (obj.length < 5) {
           $("#nextBtn").hide();
       }
       for (var i = 0; i < obj.length; i++) {
        obj[i]["content"] = obj[i]["content"].replace(/([\"\'])/g,'\\');
         var extra = $("<a>",{"onclick":`openModal('${obj[i]["author"]}','${obj[i]["content"]}')`,"style":"font-size:0.5em"});
         if (obj[i]["content"].length > 35) {
             extra.text("See more...");
         }
           $("#results").append($("<div>", {"class": "w3-container"}).append(
               $("<h5>",{"class":"w3-opacity", "style":"font-size: 1em;"}).append($("<b>", {"text":obj[i].title}))).append(
               $("<h6>",{"class": "w3-text-teal"}).text("Feeling " + emotions[obj[i].feeling - 1])).append(
               $("<p>", {"style": "font-size: 0.75em;"}).text(obj[i].content.slice(0,40) + "...")).append(extra).append("<hr>")
           )
       }
    });



</script>
<script>
    /* Helper Methods */
    function showFields() {
        $("#personal").append($("<input>", {"type":"text","class":"form-control", "placeholder":"School", "id":"school"}).prop("required",true));
        $("#personal").append($("<input>", {"type":"text","class":"form-control", "placeholder":"Manager", "id":"manager"}).prop("required",true));
        $("#personal").append($("<input>", {"type":"text","class":"form-control", "placeholder":"Project", "id":"project"}).prop("required",true));
        $("#personal").append($("<a>", {"class":"btn btn-primary btn-block", "value":"Submit", "onclick":"add_data()"}).text("Update"));
        $("#continue").hide();
    }
    function add_data() {
        fields = {
                "school":$("#school").val(),
                "manager": $("#manager").val(),
                "project":$("#project").val()
        };
        if (fields['school'] && fields['manager'] && fields["project"]) {
            $.ajax({
                type: "POST",
                url: "update-fields",
                data: fields
            });
            location.reload();
        }
        else {
            alert("please fill in all the fields")
        }
    }
</script>

<style>
    .form-control {
        margin-bottom: 3%
    }
</style>
{% end %}
