{% extends "base.html" %}

{% block css %}
<script src="static/js/jquery.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}

    .spac{
        height: 10px;

    }


</style>
<body class="w3-light-grey">
{% end %}


{% block header %}
<header class="intro-header" style="background-image: url('static/img/post-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h2>My Account</h2>
                    <hr class="small">
                    <span id='description' class="subheading">There are many like it, but this one is mine.</span><br>
                </div>
            </div>
        </div>
    </div>
</header>
{% end %}


{% block content %}
<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

    <!-- The Grid -->
    <div class="w3-row-padding">

        <!-- Left Column -->
        <div class="w3-third">

            <div class="w3-white w3-text-grey w3-card-4">
                <div class="w3-display-container">
                    <img src="static/img/avatar.png" style="width:100%" alt="Avatar">
                    <div class="w3-display-bottomleft w3-container w3-text-black">
                        <h2 class="spac">Yash Bora</h2>
                    </div>
                </div>
                <div class="w3-container">
                    <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Software Developer</p>
                    <p><i class="fa fa-code fa-fw w3-margin-right w3-large w3-text-teal"></i>CSG_DNA</p>
                    <p><i class="fa fa-building fa-fw w3-margin-right w3-large w3-text-teal"></i>SJC-24</p>
                    <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>yabora@cisco.com</p>
                    <!--<p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>8323107154</p>-->
                    <hr>

                    <br>
                </div>
            </div><br>

            <!-- End Left Column -->
        </div>

        <!-- Right Column -->
        <div class="w3-twothird">

            <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
                <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Project</h2>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>UI Automation</b></h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>May 2017 - <span class="w3-tag w3-teal w3-round">Current</span></h6>
                    <p>Working on the Client Health page for the Cisco Live release on June 21st. Specifically designing the capabilities tab under manager Tony Raj.</p>
                    <hr>
                </div>

            </div>

            <div class="w3-container w3-card-2 w3-white">
                <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Posts</h2>
                    <div id='results' class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1"></div>
                </div>
            </div>



            <!-- End Right Column -->
        </div>

        <!-- End Grid -->
    </div>

    <!-- End Page Container -->
</div>


<script>
    var line = $("<div>", {"class":"w3-light-grey w3-round-xlarge"}).append($("<div>",{"class":"w3-round-large w3-teal","style":"height:2px;width:125%"}));
    $.ajax({
        type:"GET",
        url:"/user_posts"
    }).complete(function(o){
        j = o.responseText;
        console.log(j);
        obj = JSON.parse(j);
        $("#results").html("");
        for (var i = 0; i < obj.length; i++) {
            $("#results").append($("<div>", {"class":"col-md-12"}).append(
                $("<h2>", {"class":"title"}).text(obj[i].title).append(
                    $("<h3>").text(obj[i].content.slice(0,15) + "...\n" + "Feeling: " + obj[i].feeling).css("font-weight","normal")
                        .append(
                            $("<p>").text("Posted by you").append(line)))
            ))
        }
        $("#results").html($("#results").html().replace(/\n/g,'<br/>'));


    })
</script>


{% end %}


<!--
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:100%"></div>
          </div>
-->