{% extends base.html %}

{% block css %}
<link href="static/css/register.css" type='text/css' rel="stylesheet">
<script src="/static/js/departments.js" type="text/javascript"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.3/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.3/js/bootstrap-select.min.js"></script>

<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.3/js/i18n/defaults-*.min.js"></script>

<style>
    body {
        padding-top: 50px;
    }

</style>
{% end %}



{% block content %}
<style>
body {
    background: #c1bdba;
    font-family: 'Titillium Web', sans-serif;
    background-image: url("static/img/register.jpg");
    background-size: cover;
    -webkit-filter: blur(0px);
    background-image: -webkit-gradient(5px);
    z-index: 0;
}
</style>
<div class="form">

    <div class="alert alert-success"
            {% if failure !=1 %}
                style="display: none;"
            {% end %}>
            <strong>Error!</strong> Looks like a user already exists with these credentials!
    </div>
    <div class="tab-content">
        <div id="login">
            <h1>Sign Up</h1>
            <form action="/newUser" method="post">
                <div class="top-row">
                    <div class="field-wrap">
                        <input type="text" name="first" required autocomplete="off" placeholder="First Name"/>
                    </div>

                    <div class="field-wrap">
                        <input type="text" name="last" required autocomplete="off" placeholder="Last Name"/>
                    </div>
                </div>

                <div class="field-wrap">
                    <input type="e-mail" name="email" required autocomplete="off" placeholder="E-Mail"/>
                </div>
                <div class="field-wrap">
                    <select data-width="100%" id="target" class="selectpicker show-tick show-menu-arrow changed" data-live-search="true" title="Department">
                    </select>
                </div>
                <script>
                    for (var i = 0; i < departments.length; i++) {
                        $("#target").append($("<option>").text(departments[i]));
                    }
                </script>

                <div class="field-wrap">
                    <input type="username" name="username" required autocomplete="off" placeholder="Set a Username"/>
                </div>
                <div class="field-wrap">
                    <input type="password" name="password" minlength="5" maxlength="25" required autocomplete="off" placeholder="Set a Password"
                        title="Enter a password consisting of 5 - 25 characters"/>
                </div>
                <button type="submit" class="button button-block">Get Started</button>
            </form>
        </div>
        <div id="login">

        </div>
    </div><!-- tab-content -->

</div> <!-- /form -->

<style>
    .changed {
        color: black !important;
    }
</style>
{% end %}


{#Remove Footer#}





