.sameRow{
    display: inline;
}



.box{
    border: 2px solid #00f6ff;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 10px;
    border-radius: 15px;
    width: 100%;

}

.spacer{
    margin-right: 25px;
}


.spacer1{
    margin-top: 25px;
}

.spacer2{
    margin-top: 50px;
}

i{
    width: auto;
    height: auto;
}

i:hover{
    transform: scale(2,2);
}

.emoj{
    padding-right: 15px;
}


pad{
    padding-bottom: 5%;
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 11px;
}

.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 8px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(81px);
    -ms-transform: translateX(81px);
    transform: translateX(81px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}