@import url(https://fonts.googleapis.com/css?family=Exo:100,200,400);

body {
    height: 100%;
    min-width: 600px;
}

#status {
    text-align: center;
}
.sameRow{
    display: inline;
}

.box{
    border: 2px solid #00f6ff;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 10px;
    border-radius: 15px;
    width: 100%;

}

.spacer{
    margin-right: 25px;
}


#em-bar {
    text-align: center;
    padding-bottom: 10px;
}

i{
    width: auto;
    height: auto;
}

i:hover{
    transform: scale(2,2);
}

pad{
    padding-bottom: 5%;
}

.bottom {
    text-align: center;
}
