@import url(https://fonts.googleapis.com/css?family=Exo:100,200,400);

body {
    height: auto;
    min-width: 375px;
    padding-bottom: 10px;
}

#status {
    text-align: left;
    padding-left: 10px;
}

#em-bar {
    text-align: left;
    padding-bottom: 10px;
}

#em-bar i{
    margin: 7px 10px;
}

i{
    width: auto;
    height: auto;
}

i:hover{
    transform: scale(2,2);
}

.message-bar {
    padding-left: 10px;
    padding-right: 10px;
}

button {
    padding-left: 5px;
}


